.questionCell {
    background-color: white;
    width: 100%;
    padding-top: 100%;
    height: 0;
    position: relative;
    color: black;
    cursor: default;
}

.questionCell > div {
    position: absolute;
    top: .5em;
    left: .5em;
    right: .5em;
    bottom: .5em;
    text-align: center;
    display: flex;
    align-items: center;
}

.questionCell.right::after,
.questionCell.down::after {
    content: '';
    position: absolute;
    width: 0;
    border: .5em transparent solid;
    z-index: 99;
}

.questionCell.right::after {
    top: calc(50% - .5em);
    right: -1em;
    border-left-color: black;
}

.questionCell.down::after {
    left: calc(50% - .5em);
    bottom: -1em;
    border-top-color: black;
}
